*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section5{
    width: 1440px;
    height: 960px;
    margin: 0 auto;
    background-color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    & .right{position: relative;
        width: 580px;
        height: 410px;
        background-color: white;
        border-radius: 20px;
        background-image:url(../image/virgul.png);
        background-repeat: no-repeat;
        background-position: 224px 36px;
        & .comment{
            font-size: 20px;
            font-weight: 500;
            text-align: center;
            padding: 80px 40px;
        
        }
        & .name{
            font-size: 20px;
            font-weight: 500;
            color: #3E86F5;
            text-align: center;

        }
        & .happy{
            font-size: 20px;
            font-weight: 500;
            color: gray;
            text-align: center;
        }
        & .persona{
            display: flex;
            background-color: white;
            border-radius: 50%;
             position: absolute;
            left: 240px;
            & .rates{position: relative;
                & .rate{position: absolute;
                    top: 20px;
                    left: -20px;
                    display: flex;
                    align-items: center;
                    background-color: white;
                    border-radius: 15px;
                    padding: 0 10px;
                    & .number{
                        font-size:12px ;
                        font-weight: 500;
                    }
    
                }
            }

        }
    }
    & .left{
        position: relative;
        width: 580px;
        height: 410px;
        background-color: white;
        border-radius: 20px;
        background-image:url(../image/virgul.png);
        background-repeat: no-repeat;
        background-position: 224px 36px;
        & .comment{
            font-size: 20px;
            font-weight: 500;
            text-align: center;
            padding: 80px 40px;
        
        }
        & .name{
            font-size: 20px;
            font-weight: 500;
            color: #3E86F5;
            text-align: center;

        }
        & .happy{
            font-size: 20px;
            font-weight: 500;
            color: gray;
            text-align: center;
        }
        & .persona{
            display: flex;
            background-color: white;
            border-radius: 50%;
             position: absolute;
            left: 240px;
            & .rates{position: relative;
                & .rate{position: absolute;
                    top: 20px;
                    left: -20px;
                    display: flex;
                    align-items: center;
                    background-color: white;
                    border-radius: 15px;
                    padding: 0 10px;
                    & .number{
                        font-size:12px ;
                        font-weight: 500;
                    }
    
                }
            }

        }
    }

    }
    
}